body{
    font-size: 16px;
}


table{
    table-layout: fixed;
    width: 150%;
    text-align: center;

}
input{
    width: auto;
    height: auto;
}
tr, td{
    padding: 2% 0%;
    width: auto;
    }
table , tr, td{
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
}
.table_field{
    font-weight: bolder;
}